@model List<ToDoWebApp.Models.Note>


<div id="note-lists" class="container">
	@foreach (var n in Model)
	{
		<div class="border rounded-3 p-3 mb-3 shadow-sm ">
			<div class="d-flex justify-content-between align-items-start">
				<h5 class="mb-1">@n.Title</h5>
				<div class="dropdown">
					<button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						&#x22EE;
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#" onclick="editNote(@n.Id)">✏ Edit</a></li>
						<li><a class="dropdown-item text-danger" href="#" onclick="deleteNote(@n.Id)">🗑 Delete</a></li>
					</ul>
				</div>
			</div>
			<p class="text-muted mt-2 mb-0">@Html.Raw(n.Content?.Replace("\n", "<br>"))</p>
		</div>
	}
</div>

